* {
  margin: 0;
  padding: 0;	
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#yellow-block {
  position: absolute;
  margin-left: 115px;
  margin-top: 7px;
  width: 19px;
  height: 19px;
  background-color: lightblue;
  border-radius: 2em;
}

.keyboard-container {
  margin-top: 200px;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}

.highlight {
  background-color: lightblue;
}

body {
  background-color: rgb(111, 167, 159);
}

#reset {
  margin-top: 200px;
  border-radius: 25px;
  box-shadow: 2px 2px gray;
}

#reset:active {
  background: #94ebf1;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

#wpm {
  font-weight: bold;
}